/* 
Font families:
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
*/ 

/*****************************************
*           GENERAL STYLES
*****************************************/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-family: 'Source Code Pro', monospace;
    font-size: 50%; /*62.5%;*/
    word-wrap: break-word;
    background-color:black;
    color:white;
}

body {
    
}

/*****************************************
*             MENU STYLES
*****************************************/

#menu {
    background-color:black;
    width:30rem;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    padding: 1.6rem;
    font-family: 'Source Code Pro', monospace;
    font-size: 2.3rem;
    line-height:2.3rem;

    overflow-y:scroll;
}

#menu ul {
    list-style:none;
}

#menu li {
    margin-bottom:4.0rem;
}

#menu li:hover .menu-title {
    background-color:white;
    color:black;
}

#menu li a {
    color:white;
    text-decoration: none;
}

.menu-item {
    display:flex;
}


.menu-description {
    opacity:0.5;
    font-size:1.7rem;
    color:white;
    line-height: 1.2;
    font-family: 'Source Code Pro', monospace;
}

.menu-index {
    opacity:0.5;
    font-size:1.7rem;
    color:white;
    flex-shrink:0;
    flex-basis: 3.7rem;
    line-height: 2.3rem;
}

.sub-menu li {
    margin-left:3.7rem;
    font-size:2rem;
    line-height:2rem;
}

.active .menu-title {
    text-decoration: underline;
}

.sub-menu .menu-index {
    line-height:2rem;
}

.sub-menu .menu-description {
    font-size:1.5rem;
}


#content {
    margin-left: 30rem;
}

.logo {
    width:12rem;
    max-width:100%;
    margin-left:3.7rem;
    margin-bottom:2.0rem;
    margin-top:2rem;
}

/*****************************************
*           CONTENT STYLES
*****************************************/

#content {
    padding:3rem;
    padding-left:1rem;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: 3.6rem;
    margin-bottom: 4.8rem;
    max-width: 76rem;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-weight: 400;
    font-size: 2.0rem;
    margin-bottom: 2.6rem;
    line-height: 1.5;
    max-width: 97rem;
    opacity: 0.95;
}

a {
    color:#FF94F5;
}

/*****************************************
*           FOOTER STYLING
*****************************************/

footer {
    width:100%;
    text-align:center;
    margin-top:20rem;
    border-top:1px solid rgba(255, 255, 255, 0.316);
    padding-top:3rem;
    font-size:1.8rem;
}

/*****************************************
*           SECTION STYLING
*****************************************/

.section {
    padding-top: 6.0rem;
}

/* with-sidebar class */
.section.with-sidebar {
    display:flex;
    max-width: 1300px;/*145rem;*/
}

.section .section {
    padding-top: 0;
}

.section.with-sidebar .section:nth-child(1) {
    flex-grow: 1;
    padding-right: 3rem;
}

.section.with-sidebar .section:nth-child(2) {
    flex-basis: 38rem;
    flex-grow: 0;
    flex-shrink: 0;
}

/*****************************************
*           PARAGRAPH STYLING
*****************************************/

.text.monospaced {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.8rem;
}

.text.two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 33rem;
    -moz-column-width: 33rem;
    column-width: 33rem;

    column-gap:3rem;

    column-rule: 1px dashed #ffffff80;
    
}

/*****************************************
*           TEXT STYLING
*****************************************/

span.textstyle.half-opaque {
    opacity: 0.5;
}