/* 
Font families:
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Serif Pro', serif;
*/ 

/*****************************************
*           GENERAL STYLES
*****************************************/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    font-family: 'Source Code Pro', monospace;
    font-size: 50%; /*62.5%;*/
    word-wrap: break-word;
    background-color:black;
    color:white;
}

body {
    
}

/*****************************************
*             MENU STYLES
*****************************************/

#menu {
    background-color:black;
    width:30rem;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    padding: 1.6rem;
    font-family: 'Source Code Pro', monospace;
    font-size: 2.3rem;
    line-height:2.3rem;
    
    overflow-y:scroll;
}

#menu ul {
    list-style:none;
}

#menu li {
    /*margin-bottom:4.0rem;*/
}

#menu li:hover .menu-title {
    background-color:white;
    color:black;
}

#menu li a {
    color:white;
    text-decoration: none;
}

.menu-item {
    display:flex;
}


.menu-description {
    opacity:0.5;
    font-size:1.7rem;
    color:white;
    line-height: 1.2;
    font-family: 'Source Code Pro', monospace;
    font-weight:400;
}

.menu-index {
    opacity:0.5;
    font-size:1.7rem;
    color:white;
    flex-shrink:0;
    flex-basis: 3.7rem;
    line-height: 2.3rem;
}

.sub-menu li {
    margin-left:3.7rem;
    font-size:2rem;
    line-height:2rem;
}

.active .menu-title {
    text-decoration: underline;
}

.sub-menu .menu-index {
    line-height:2rem;
}

.sub-menu .menu-description {
    font-size:1.5rem;
}


#content {
    margin-left: 30rem;
}

.logo {
    width:12rem;
    max-width:100%;
    margin-left:3.7rem;
    margin-bottom:2.0rem;
    margin-top:2rem;
}

/*****************************************
*           CONTENT STYLES
*****************************************/

#content {
    padding:3rem;
    padding-left:1rem;
    margin-bottom:10rem;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: 3.6rem;
    margin-bottom: 4.8rem;
    max-width: 76rem;
    margin-top:14.6rem;
    padding-bottom:1.6rem;
    border-bottom:1px solid rgba(255, 255, 255, 0.316);
}

h2 {
    font-family: 'Source Serif Pro', serif;
    font-weight:400;
    font-size:3rem;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    font-size: 2.0rem;
    margin-bottom: 2.6rem;
    line-height: 1.5;
    max-width: 70rem;
    opacity: 1;
}

a {
    color:#FF94F5;
}

/*****************************************
*           FOOTER STYLING
*****************************************/

footer {
    /*width:100%;*/
    right:0;
    text-align:center;
    margin-top:3rem;
    margin-left:30rem;
    border-top:1px solid rgba(255, 255, 255, 0.316);
    padding-top:2rem;
    padding-bottom:2rem;
    font-size:1.8rem;
    bottom:0;
    position:fixed;
    left:0;
    background-color:black;
}

/*****************************************
*           BUTTON STYLING
*****************************************/

.button {
    font-size: 2.8rem;
    color:white;
    margin-top:6rem;
    display:inline-block;
    text-align:center;
    max-width:100%;
    text-decoration:none;
}

.button div {
    display:inline-block;
    padding: 1rem 2rem;
    border: 1px solid #FF94F5;
    box-shadow: 5px 5px black, 6px 6px #FF94F5;
}

.button:hover div {
    background-color:white;
    color:black;
}

.button .button-description {
    margin-top:1rem;
    opacity:0.5;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 1.7rem;
    text-align:left;
    margin-left:2rem;
}

/*****************************************
*           SECTION STYLING
*****************************************/

.section {
    padding-top: 6.0rem;
}

/* with-sidebar class */
.section.with-sidebar {
    display:flex;
    max-width: 1300px;/*145rem;*/
}

.section .section {
    padding-top: 0;
}

.section.with-sidebar .section:nth-child(1) {
    flex-grow: 1;
    padding-right: 3rem;
}

.section.with-sidebar .section:nth-child(2) {
    flex-basis: 38rem;
    flex-grow: 0;
    flex-shrink: 0;
}

/*****************************************
*           PARAGRAPH STYLING
*****************************************/

.text.monospaced {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.8rem;
}

.text.two-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 33rem;
    -moz-column-width: 33rem;
    column-width: 33rem;

    column-gap:3rem;

    column-rule: 1px dashed #ffffff80;
    max-width: 97rem;
}

/*****************************************
*           TITLE STYLING
*****************************************/

.title {
    margin-top:0;
    border-bottom:none;
}

/*****************************************
*           TEXT STYLING
*****************************************/

span.textstyle.half-opaque {
    opacity: 0.5;
}

span.textstyle.pink {
    color: #FF94F5;
}

span.textstyle.blue {
    color: #6EE4FF;
}

span.textstyle.emphasis {
    font-size:3rem;
    font-style:italic;
}

/*****************************************
*           BUTTON STYLING
*****************************************/

.pagelist {
    width:100%;
    max-width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap:3rem;
    row-gap:3rem;
    grid-auto-rows: 1fr;
}

.pagelist-item div {
    border:1px solid white;
    padding:3rem;
    
}

a.pagelist-item {
    color:white;
    text-decoration:none;
}


.pagelist-item h2 {
}

.pagelist-item:hover div {
    background-color:white;
    color:black;
}

.pagelist-item-description {
    font-weight:400;
    opacity:0.5;
    
}


/*****************************************
*           RESPONSIVE
*****************************************/

@media (max-width: 1200px) {

    .section.with-sidebar {
        display:block;
    }

    .section.with-sidebar .section:nth-child(2) {
        border-top:1px solid rgba(255, 255, 255, 0.316);
        padding-top:3rem;
        margin-top:3rem;
    }

}

/* Smaller buttons */
@media (max-width: 700px) {
    .button {
        font-size:2rem;
    }

    .button div {
        padding: 1rem;
    }
}

@media (max-width: 600px) {

}